@font-face {
  font-family: "Asterisk";
  src: url("./icomoon.woff2") format("woff2") url("./icomoon.woff")
    format("woff") url("./icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

kbd {
  background-color: var(--vp-c-default-soft);
  border: 1px solid var(--vp-c-default-2);
  color: var(--vp-c-text-1);
  padding: 0.1em 0.3em;
  box-shadow: 0 2px 0px var(--vp-c-default-2);
  margin: 0.1em;
  border-radius: 4px;
}

.asterisk-text {
  color: var(--vp-c-text-2);

  .asterisk-mark {
    font-family: "Asterisk" !important;
    margin-right: 0.1em;
  }
}

:root {
  --vp-sidebar-bg-color: transparent;
}

.VPSidebar {
  --c-sidebar-background: #fff;
  background-image:
    linear-gradient(color-mix(in srgb, var(--c-sidebar-background) 80%, transparent) 0 100%),
    radial-gradient(at 50% 50%, #9b99e0ff, #9b99e000 70%),
    conic-gradient(
      from -45deg at 50% 50%,
      #72aad9,
      #e2d6dd,
      #b03cac,
      #0609a5,
      #72aad9
    );
}

.dark {
  .VPSidebar {
    --c-sidebar-background: #111827;
  }

  body {
    --vp-c-divider: #ccc4;
  }
}
